.bash_history
/.cache
/.config/discord/Cache
/.config/Slack/Cache
/.config/Slack
/.config/vesktop
.config/baloofileinformationrc
.bashrc
.bash_logout
.config/bashtop/error.log
/.config/Code - OSS
/.config/discord
/.config/spicetify
.config/dconf/user
/.config/Electron
/.config/GitHub Desktop
/.config/Popcorn-Time
/.config/spotify
.config/gtk-3.0/bookmarks
/.local
/go
/Media/Shows
/Software
/yay
/Media
/Downloads
.zshrc.zni
.zsh_history
.zcompdump-archbook-5.9.zwc
.zcompdump-archbook-5.9
.zcompdump
.wget-hsts
.yarnrc
/.vscode-oss
/.var
.viminfo
/.mozilla
/.steam
/.config/Vencord/dist
/.config/Vencord/settings
/.config/vlc
.config/trash
.config/trashrc
/.config/systemd
/.config/session
.pki/nssdb/cert9.db
.pki/nssdb/key4.db
.pki/nssdb/pkcs11.txt
.pulse-cookie
.ssh/known_hosts
.ssh/known_hosts.old
.steampath
.steampid
.histfile
/.npm
.config/presets/user/preset-name.json
/.config/font-manager
.config/dolphinrc
.config/QtProject.conf
.oh-my-zsh/
/.config/StardewValley
/Desktop
/.config/autostart
